{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 class="text-center mt-5">Продукты</h1>
</div>
<div class="container">
    <div class="card-group">
    {% for product in products %}
        <div class="card ms-3 me-3 border border-dark">
            <div class="card-body">
                <a href="{% url 'product_view' product.pk %}" class=""><h5 class="card-title">{{ product.name }}</h5></a>
                <p class="card-text">{{ product.category }}</p>
            </div>
            <div class="card-footer">
                <p class="card-text">{{ product.price }}</p>
            </div>

        </div>
    {% endfor %}
    </div>
</div>
<div class="container">
    <a href="{% url 'create_product' %}" class="btn btn-secondary">Добавить продукт</a>
</div>
{% endblock %}