{% extends 'base.html' %}
{% block title %}Ваша корзина{% endblock %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Продукт</th>
      <th scope="col">Цена</th>
      <th scope="col">Количество</th>
      <th scope="col">Сумма</th>
    </tr>
  </thead>
  <tbody>
    {% for product in basket %}
        <tr>
            <th scope="row">{{ product.product.name }}</th>
            <td>{{ product.product.price }}</td>
            <td>{{ product.amount }}</td>
            <td>{{ product.sum_product }}</td>
            <td><a href="{% url 'basket_delete' product.pk %}"><i class="fas fa-trash-alt"></i></a></td>
            <td><a href="{% url 'basket_remove' product.pk %}"><i class="fas fa-times-circle"></i></a></td>
        </tr>
    {% endfor %}
  </tbody>
</table>
    <h2 class="text-center">Общая сумма заказа составила {{ sum }}</h2>
    <form method="POST">
        {% include 'partial/form.html' with button_text='Оформить заказ' %}
    </form>
{% endblock %}