{% extends 'base.html' %}
{% block title %}Продукты{% endblock %}
{% block nav %}
    {% if perms.webapp.add_product %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'webapp:product_create' %}">Добавить продукт</a>
    </li>
    {% endif %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'webapp:basket' %}">Просмотреть корзину</a>
    </li>
{% endblock %}
{% block content %}
    <div class="mt2">
        {% include 'partial/search.html' %}
    </div>
         {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
<div class="container">
    <h1 class="text-center mt-3">Продукты</h1>
</div>
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-5">
    {% for product in products %}
        <div class="card">
            <div class="card-body">
                <a href="{% url 'webapp:product_view' product.pk %}" class=""><h5 class="card-title">{{ product.name }}</h5></a>
                <p class="card-text">{{ product.get_category_display }}</p>
                {% if perms.webapp.delete_product %}
                    <a class="btn btn-secondary" href="{% url 'webapp:product_delete' product.pk %}">Удалить</a>
                {% endif %}
                {% if perms.webapp.change_product %}
                    <a class="btn btn-secondary" href="{% url 'webapp:product_update' product.pk %}">Редактировать</a>
                {% endif %}
                <p class="mt2">
                    <label for="quantity">Выберите количество:</label>
                    <input type=text id="count{{ product.pk }}"  min="1" placeholder="1">

                    <button class="btn btn-secondary" id="btn" onclick="addBasket(event)" data-product-id="{{ product.id }}" data-add-basket-url="{% url 'api:add_product_to_basket' product.id %}">Принять</button>

                </p>
            </div>
            <div class="card-footer">
                <p class="card-text">Цена: {{ product.price }}</p>
            </div>
        </div>
    {% endfor %}
    </div>
<div class="mb-5 mt-3">
     {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
</div>

</div>


{% endblock %}