{% extends 'base.html' %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'product_create' %}">Добавить продукт</a>
    </li>
{% endblock %}
{% block content %}
    <div class="mt3">
        {% include 'partial/search.html' %}
    </div>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
<div class="container">
    <h1 class="text-center mt-5">Продукты</h1>
</div>
<div class="container">
    <div class="card-group">
    {% for product in products %}
        <div class="card ms-3 me-3 border border-dark">
            <div class="card-body">
                <a href="{% url 'product_view' product.pk %}" class=""><h5 class="card-title">{{ product.name }}</h5></a>
                <p class="card-text">{{ product.category }}</p>
                <a href="{% url 'product_delete' product.pk %}">Удалить</a>
                <a href="{% url 'product_update' product.pk %}">Редактировать</a>
            </div>
            <div class="card-footer">
                <p class="card-text">{{ product.price }}</p>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}