{% extends 'base.html' %}
{% block title %}Продукты{% endblock %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'product_create' %}">Добавить продукт</a>
    </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'basket' %}">Просмотреть корзину</a>
    </li>
{% endblock %}
{% block content %}
    <div class="mt2">
        {% include 'partial/search.html' %}
    </div>
         {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
<div class="container">
    <h1 class="text-center mt-3">Продукты</h1>
</div>
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-5">
    {% for product in products %}
        <div class="card">
            <div class="card-body">
                <a href="{% url 'product_view' product.pk %}" class=""><h5 class="card-title">{{ product.name }}</h5></a>
                <p class="card-text">{{ product.get_category_display }}</p>

                <a class="btn btn-secondary" href="{% url 'product_delete' product.pk %}">Удалить</a>
                <a class="btn btn-secondary" href="{% url 'product_update' product.pk %}">Редактировать</a>
                <form method="post" action="{% url 'product_add' product.pk%}" >
                    {% csrf_token %}

                    <button class="btn btn-secondary mt-2">Добавить в корзину</button>
                </form>
            </div>
            <div class="card-footer">
                <p class="card-text">Цена: {{ product.price }}</p>
            </div>
        </div>
    {% endfor %}
    </div>
<div class="mb-5 mt-3">
     {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
</div>

</div>
{% endblock %}